.amount {
  margin-left: 6px;
}

.inputWrapper {
  padding: 0px;
  padding-top: 10px;
  padding-right: 40px;
}

.prefixClass {
  font-size: 16px;
  text-align: center;
  width: 40%;
}

.deleteIcon {
  align-items: center;
  height: 40px;
  width: 20px;
  cursor: pointer;
  margin: 20px;
  margin-left: 0;
}
