.wrapper {
  display: flex;
  align-items: center;
}
.displayWrap {
  display: flex;
  height: 40px;
  margin: 0px var(--tm-kr-spacing-2xs);
  align-items: center;
  justify-content: space-between;
  padding: var(--tm-kr-spacing-3xs) var(--tm-kr-spacing-2xs);
  min-width: 144px;
  background-color: var(--tm-kr-color-neutrals-grey-10);
  border-radius: var(--tm-kr-border-radius-l);
}

.inputWrapper {
  background: var(--tm-kr-color-neutrals-grey-10);
}
.placeholder {
  font-size: var(--tm-kr-para-font-size-m);
  font-weight: 500;
  color: var(--tm-kr-color-neutrals-grey-50);
}
.valueText {
  width: 36px;
  font-size: var(--tm-kr-para-font-size-l);
  font-weight: 500;
  color: var(--tm-kr-color-neutrals-grey-100);
}
.valueText:focus {
  outline: none;
}
.displayWrap:focus-within {
  border: 1px solid var(--tm-kr-color-primary-100);
}
.btn {
  padding: 0px var(--tm-kr-spacing-xs);
}
