.templateCard {
  display: flex;
  width: 324px;
  gap: var(--tm-kr-spacing-2xs);
  padding: var(--tm-kr-spacing-3xs);
  align-items: center;
  background-color: var(--tm-kr-color-neutrals-grey-20);
  border-radius: var(--tm-kr-border-radius-l);
  cursor: pointer;
}

.templateCard > .img {
  width: 120px;
  height: 80px;
  overflow: hidden;
  border-radius: var(--tm-kr-border-radius-m);
}

.activeTemplateCard {
  border: 1px solid var(--tm-kr-button-primary-color);
}

.wrapper {
  display: flex;
  gap: var(--tm-kr-spacing-s);
  padding: 0 var(--tm-kr-spacing-xs);
}

.idCardPreviewCards {
  display: flex;
  flex-direction: column;
  gap: var(--tm-kr-spacing-2xs);
  padding-top: var(--tm-kr-spacing-s);
}

.tableContainer {
  height: 460px;
  padding-top: var(--tm-kr-spacing-xs);
}

.tableBlock {
  width: 100%;
  padding-left: var(--tm-kr-spacing-s);
  border-left: 1px solid var(--tm-border-color-gray-2);
}

.tableContainer
  input[type='checkbox']
  + [class^='krayon__Checkbox-module__']::after {
  box-sizing: content-box;
}

.table thead tr td:first-of-type {
  border-top-left-radius: var(--tm-kr-border-radius-l);
}
.table tr td:nth-of-type(2) {
  padding-left: var(--tm-kr-spacing-2xs);
  width: 40%;
}

/* .table tr td:last-of-type {
  width: 222px;
}
 */
.filterRow {
  display: flex;
  width: 100%;
  margin-bottom: var(--tm-kr-spacing-2xs);
}

.filterRow > div {
  flex: 1;
}

.filterRow .downloadIcon::before {
  color: var(--tm-kr-color-base-light-100);
}

.filterRow > div:nth-of-type(2) {
  display: flex;
  justify-content: flex-end;
  gap: var(--tm-kr-spacing-xs);
  /* padding-right: var(--tm-kr-spacing-xs); */
}

.modal {
  width: 540px;
  height: 544px;
  overflow: auto;
}

.modalContent {
  padding-bottom: var(--tm-kr-spacing-xs);
}

.actionButtons {
  display: flex;
  justify-content: space-between;
  margin-right: var(--tm-kr-spacing-xs);
}

.actionButtons > span {
  cursor: pointer;
}

.divider {
  width: 1px;
  background-color: var(--tm-kr-color-neutrals-grey-30);
}

.missingFieldsWrapper {
  position: relative;
}

.missingFieldsWrapper > p {
  margin-bottom: var(--tm-kr-spacing-4xs);
}

.missingFieldsPopup {
  position: absolute;
  z-index: 2;
  background-color: var(--tm-kr-color-base-light-100);
  padding: var(--tm-kr-spacing-xs) var(--tm-kr-spacing-s);
  width: 320px;
  border: 1px solid var(--tm-kr-color-neutrals-grey-30);
  border-radius: var(--tm-kr-border-radius-l);
}

.warning {
  background-color: var(--tm-kr-color-base-light-100);
  margin-bottom: var(--tm-kr-spacing-2xs);
}

.headerDivider {
  width: 100%;
  height: 1px;
  background-color: var(--tm-kr-color-neutrals-grey-30);
  margin-bottom: var(--tm-kr-spacing-2xs);
}

.missingFields {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--tm-kr-spacing-3xs);
}

.missingFieldsPopup p {
  margin-bottom: var(--tm-kr-spacing-3xs);
  color: var(--tm-kr-color-neutrals-grey-80);
}

.missingFields span {
  font-size: var(--tm-kr-para-font-size-m);
  padding: 2px var(--tm-kr-spacing-5xs) 2px 6px;
  background-color: var(--tm-kr-color-neutrals-grey-30);
  border-radius: var(--tm-kr-border-radius-m);
}

.addDetailsButton {
  margin-top: var(--tm-kr-spacing-2xs);
}

.tableContainer > div > div::-webkit-scrollbar-track {
  background: #f1f1f1 !important;
}
/* Handle */
.tableContainer > div > div::-webkit-scrollbar-thumb {
  background: #cccccc !important;
}
/* Handle on hover */
.tableContainer > div > div::-webkit-scrollbar-thumb:hover {
  background: #cccccc !important;
}
.tableContainer > div > div::-webkit-scrollbar {
  display: initial !important;
}
.tableContainer > div > div::-webkit-scrollbar {
  width: 7px !important;
  height: 7px !important;
}

.tableContainer > div > div {
  border-radius: var(--tm-kr-border-radius-l);
}

.tableContainer {
  margin-bottom: var(--tm-kr-spacing-s);
}

.searchBlock {
  display: flex;
  gap: var(--tm-kr-spacing-2xs);
  padding-top: var(--tm-kr-spacing-s);
}

.searchBlock > div {
  flex: 2;
}

.alert {
  font-size: 12px;
  padding: 8px;
}

.tableContainer .alert > div {
  gap: 4px;
}

.tableContainer .alert span {
  font-size: 16px;
}

.badge {
  height: auto;
}
