.header {
  border-bottom: 1px solid var(--tm-kr-color-neutrals-grey-30);
}
.iconFrame {
  background-color: var(--tm-kr-color-pastels-calico-100);
}

.body {
  width: 100%;
  padding: var(--tm-kr-spacing-xs);
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: var(--tm-kr-spacing-3xs);
}

.overviewItem {
  border: none;
  padding: var(--tm-kr-spacing-2xs);
}
.overviewItemValue {
  width: 100%;
  margin-bottom: var(--tm-kr-spacing-5xs);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (min-width: 768px) {
  .body {
    padding: var(--tm-kr-spacing-xs) var(--tm-kr-spacing-s);
    gap: var(--tm-kr-spacing-s);
  }

  .overviewItem {
    padding: var(--tm-kr-spacing-s);
  }
}
