.tabContainer > nav {
  width: 500px;
}

.tabBody {
  margin-top: 30px;
}
.tabbarSection {
  display: flex;
  justify-content: space-between;
}

.qrCode {
  margin-right: 40px;
  margin-top: 15px;
}

/* Desktop devices */
@media (width > 1194px) {
}
