.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: var(--tm-kr-spacing-xs) var(--tm-kr-spacing-s);
  padding: var(--tm-kr-spacing-s) 0px;
  min-width: 550px;
}

.content {
  overflow: visible;
  min-width: 630px;
}

.gridItem {
  width: 100%;
}

.info {
  grid-column: 1 / 3;
}

.leaveTypeLabel {
  display: flex;
  justify-content: space-between;
  border: 1px solid;
}

.leaveCount {
  margin-left: auto;
}

.readOnlyField [class^='krayon__TextInput-module'] {
  background: var(--tm-kr-color-neutrals-grey-10);
  border: none;
  padding: 0;
  height: var(--tm-kr-spacing-m);
}

.readOnlyField input {
  background: var(--tm-kr-color-neutrals-grey-10);
}

@media screen and (max-width: 768px) {
  .optionClass {
    padding: 0px 20px;
  }

  .content {
    min-width: auto;
  }
}

@media screen and (max-width: 680px) {
  .wrapper {
    min-width: auto;
    display: flex;
    flex-direction: column;
  }
}
