.map {
  height: 516px;
  width: 100%;
  margin-right: 2px;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}

.flexRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.baseInfoCard {
  width: 340px;
  background: var(--tm-kr-color-base-light-100);
  border-radius: var(--tm-kr-spacing-2xs);
  line-height: 26px;
}

.infoCardHeader {
  background: var(--tm-kr-color-base-dark-100);
  color: var(--tm-kr-color-base-light-100);
  font-size: 18px;
  padding: 15px var(--tm-kr-spacing-s);
}

.infoCardRow {
  padding: var(--tm-kr-spacing-3xs) var(--tm-kr-spacing-s);
  font-size: 12px;
  color: var(--tm-kr-color-neutrals-grey-80);
  border-bottom: 1px solid var(--tm-kr-color-neutrals-grey-30);
}
.badgeLike {
  padding: 2px var(--tm-kr-spacing-3xs);
  border-radius: var(--tm-kr-spacing-3xs);
}
.warning {
  color: var(--tm-kr-badges-warning-background);
  background: var(--tm-kr-badges-warning-text);
}
.success {
  background: var(--tm-kr-badges-success-background);
  color: var(--tm-kr-badges-success-text);
}
.on {
  background: var(--tm-kr-badges-success-text);
  color: var(--tm-kr-badges-success-background);
}
.bold {
  font-weight: 600;
}
.recenter {
  position: absolute;
  right: 10px;
  top: -140px;
  background: var(--tm-kr-color-neutrals-grey-10);
  z-index: 3;
  width: 40px;
  height: 25px;
  border-radius: var(--tm-kr-border-radius-m);
}
.recenterWrapper {
  position: relative;
}

.textSmall {
  font-size: var(--tm-kr-para-font-size-l);
}
.error {
  background: var(--tm-kr-badges-error-background);
  color: var(--tm-kr-badges-error-text);
}
