.label {
  font-size: 16px;
  color: var(--tm-color-text-primary);
  margin-left: 0px;
}

.chipColor span {
  color: var(--tm-color-text-secondary);
}

.inputWrapper {
  padding: 0px;
  cursor: pointer;
  width: 270px;
}

.titleContainer {
  color: initial;
}

@media only screen and (max-width: 576px) {
  .inputGroup {
    width: 100%;
    border-bottom: 1px solid;
    padding-bottom: 30px;
    color: #dbe2ea;
    display: block;
  }

  .formGroup {
    display: block;
    flex-direction: column;
    margin-right: 0px;
  }
}
