.wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: var(--tm-kr-spacing-xs) var(--tm-kr-spacing-s);
}

.mobile.wrapper {
  gap: var(--tm-kr-spacing-xs) var(--tm-kr-spacing-2xs);
}

.wrapper [class*='krayon__Input-module__iHNUs'] {
  width: calc(100% - 50px - var(--tm-kr-spacing-s));
}

.mobile [class*='krayon__Input-module__iHNUs'] {
  width: calc(100% - 50px - var(--tm-kr-spacing-2xs));
}

.wrapper .sortIcon:first-child {
  /* transform: rotate(90deg); */
  padding-right: 0;
}
.wrapper .sortIcon:first-child::before {
  color: var(--tm-kr-color-neutrals-grey-100);
}

.wrapper .btn {
  width: 44px;
  height: 44px;
  background-color: var(--tm-kr-color-neutrals-grey-20);
  border-color: var(--tm-kr-color-neutrals-grey-20);
}

.dropdown {
  position: relative;
}

.dropdown .dropdownContainer {
  position: absolute;
  right: 0;
  white-space: nowrap;
}

.checkbox {
  margin-left: 0;
}
