.wrapper {
  display: inline-flex;
  position: relative;
  width: fit-content;
}

.marginLeftAuto {
  margin-left: auto;
}

.btnWrapper .dropdownContainer {
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
}

.btnWrapper .mobileDropdown {
  left: initial;
  right: 0;
  min-width: 180px;
}

.mobileBtn {
  padding: var(--tm-kr-spacing-3xs);
  flex-grow: 1;
  min-width: 52px;
}

.mobileBtn > [class^='krayon__Button-module__'] {
  display: inline-flex;
}
