.title {
  color: var(--tm-kr-color-neutrals-grey-100);
  font-size: 16px;
  font-weight: 600;
  padding-bottom: 12px;
}

.content {
  flex-grow: 1;
}

.triggerHeader {
  display: flex;
  justify-content: space-between;
}

.viewDueDateSection {
  display: flex;
  align-items: center;
}

.dueDateIcon {
  margin-right: 10px;
}

.primaryText {
  color: var(--tm-kr-color-primary-100);
  font-size: 12px;
  line-height: 16px;
}

.list {
  list-style: inside;
}
