.sliderLabel {
  font-size: var(--tm-kr-para-font-size-l);
  color: var(--tm-kr-color-neutrals-grey-90);
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--tm-kr-spacing-l);
  margin-top: var(--tm-kr-spacing-xs);
}
