button {
  &.border {
    border: 1px solid #1da1f1;
    padding: 5px 15px;
    border-radius: 5px;
    color: #1da1f1;
  }

  &.fill {
    border: 1px solid #1da1f1;
    padding: 5px 15px;
    border-radius: 5px;
    color: #fff;
    background-color: #1da1f1;
  }
}
