.radioWrapper {
  background-color: var(--tm-color-gy-3);
  color: var(--tm-color-text-secondary);
  padding: 2px;
  display: inline-block;
}

.option {
  padding: 5px 10px;
  display: inline-block;
  font-size: 10px;
  cursor: pointer;
}

.selected {
  color: var(--tm-color-bl-2);
  background-color: #fff;
  font-weight: bold;
}

.heading {
  font-size: 14px;
}

.heading.selected {
  background-color: var(--tm-color-bl-2);
  color: #fff;
  font-weight: bold;
  border-radius: 5px;
}

.unselected {
  composes: option;
}
