.flex {
  display: flex;
}
.spaceBetween {
  justify-content: space-between;
}
.relative {
  position: relative;
}
.inputWrapper {
  background: var(--tm-kr-color-neutrals-grey-10);
  height: 44px;
  width: 350px;
}
.input {
  background: var(--tm-kr-color-neutrals-grey-10);
}
.searchIcon {
  margin-top: 4px;
  display: flex;
}
.column {
  flex-direction: column;
}
.title {
  font-weight: var(--tm-kr-heading-font-weight-medium);
  color: var(--tm-kr-color-neutrals-grey-100);
  font-size: var(--tm-kr-para-font-size-l);
}
.desc {
  font-size: var(--tm-kr-para-font-size-m);
  color: var(--tm-kr-color-neutrals-grey-70);
  margin-top: var(--tm-kr-spacing-5xs);
}
.headerContainer {
  position: sticky;
  top: -25px;
  z-index: 2;
  background: var(--tm-kr-color-neutrals-grey-10);
}
.headerWrapper {
  background: var(--tm-kr-color-neutrals-grey-10);
  padding: var(--tm-kr-spacing-xs) 0;
}

@media (max-width: 768px) {
  .headerWrapper {
    background: var(--tm-kr-color-neutrals-grey-10);
    padding: var(--tm-kr-spacing-xs) 0;
    max-width: 100vw;
    left: 0;
    margin: 0 -20px;
    padding: var(--tm-kr-spacing-2xs) var(--tm-kr-spacing-s);
  }
  .container {
  }
}
