.Container {
  /* background-color: var(--tm-bg-modal-light-gray);
  padding: 0.25rem; */
  display: grid;
  background-color: var(--tm-color-wh-1);
  grid-template-columns: 200px repeat(3, auto);
  grid-template-rows: repeat(2, auto);
  justify-items: center;
  border-radius: 12px;
  justify-items: flex-start;
  margin: 1rem;
  width: 100%;
}
.DragHolder {
  padding-left: 2rem;
  padding-right: 1rem;
  margin-left: 0.5rem;
  cursor: pointer;
  grid-row: 1 / span 2;
  align-items: center;
  display: flex;
  flex-direction: row;
}
.checkboxInput {
  width: 36px;
  cursor: pointer;
}
.subjectName {
  grid-row: 1 / span 2;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 1rem;
  color: var(--tm-color-text-primary);
}
.rowItem {
  color: var(--tm-color-text-secondary);
  padding-top: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Container label {
  margin-left: 5px;
  cursor: pointer;
}

.SubjectContainer {
  background: var(--tm-color-wh-1);
  padding: 0.25rem;
}
.SubjectRow {
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.numberInput {
  width: 100%;
  padding: 0.5rem;
  padding-top: 0rem;
}
.totalMarks {
  color: var(--tm-color-text-secondary);
  background-color: var(--tm-bg-diabled);
}

.disabled {
  background-color: var(--tm-bg-diabled);
  cursor: not-allowed;
}

.subject {
  max-width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
