.academicSessionContainer {
  padding: 8px 12px;
  border-radius: 12px;
  display: flex;
  gap: 8px;
  align-items: center;
  background-color: var(--tm-bg-gray-3);
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
  color: var(--tm-kr-color-neutrals-grey-100);
}
.academicSessionDropdownItemContainer {
  position: absolute;
  z-index: 30;
  background-color: var(--tm-color-wh-1);
  width: 295px;
  max-height: 400px;
  overflow: auto;
  border: 1px solid var(--tm-color-blue);
  padding: 4px 20px 0;
  border-radius: 12px;
  margin-top: 8px;
}
.academicSessionDropdownItem {
  width: 100%;
  padding: 16px 0;
  margin-bottom: 8px;
  border-bottom: 1px solid var(--tm-kr-color-neutrals-grey-30);
}
.academicSessionDropdownItem:last-child {
  border-bottom: none;
}

.instituteHeading {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: var(--tm-kr-color-semantic-basic-100);
}
.schoolImg {
  margin-right: 8px;
  object-fit: cover;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.sessionList {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  margin-top: 12px;
}
.sessionCard {
  padding: 4px 12px;
  background-color: var(--tm-bg-gray-3);
  border-radius: 8px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: var(--tm-kr-color-neutrals-grey-90);
}

.cursorDisable {
  cursor: not-allowed;
}
