.pdfWrapper {
  display: flex;
  justify-content: center;
}

.pdfPage canvas {
  border: 1px solid var(--tm-kr-color-neutrals-grey-40);
  border-radius: var(--tm-kr-border-radius-m);
}

.modalBody {
  margin: var(--tm-kr-spacing-xs) 0;
  overflow: auto;
}
