.viewWrapper {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: var(--tm-kr-spacing-s);
}

@media (max-width: 767px) {
  .viewWrapper {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
  }
}
