.tableHeader {
  display: flex;
  background: var(--tm-color-off-white);
  color: var(--tm-color-text-secondary);
  font-size: 1rem;
  padding: 14px 0;
}
.tableHeader > div {
  text-transform: uppercase;
  font-size: 0.8rem;
}
.pendingAccordionTitle {
  font-weight: 600;
  font-size: 1rem;
  line-height: 24px;
  color: var(--tm-color-orange);
  background: var(--tm-light-wheat);
  border-radius: var(--tm-border-radius-card-1) var(--tm-border-radius-card-1) 0
    0;
}

.pastAccordionTitle {
  font-weight: 600;
  font-size: 1rem;
  line-height: 24px;
  color: var(--tm-color-text-secondary);
  background: var(--tm-color-off-white);
  border-radius: unset;
}
.pastAccordionTitle.borderRadius {
  border-radius: 0 0 var(--tm-border-radius-card-1)
    var(--tm-border-radius-card-1);
}
.pendingAccordionWrapper {
  margin: 0;
}
.accordianBorder {
  border-bottom: 1px solid var(--tm-bg-light-white);
}
.tableWrapper {
  height: 300px;
  width: 100%;
}
.tableWrapper table {
  margin: 0;
}
.tableWrapper tbody {
  position: relative;
}
.tableWrapper tbody tr {
  background: var(--tm-color-white);
  border-bottom: 1px solid var(--tm-color-off-white);
  /* to adjust with header */
  margin-top: 0 !important;
}
.tableWrapper tbody tr:hover {
  background-color: var(--tm-bg-light-blue);
}
.tableWrapper tbody tr td {
  line-height: unset;
}
.alignCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
.emptyScreen {
  margin: 20px 0;
}
.column {
  flex-direction: column;
}
.emptysvg {
  width: 100%;
  height: 100%;
  max-height: 200px;
}
.noRequest {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin-top: 20px;
  color: var(--tm-color-text-secondary);
}
.link {
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  color: var(--tm-color-blue);
  cursor: pointer;
}
.staffType {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: var(--tm-color-text-secondary);
  margin-top: 5px;
}
.leavedate {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: var(--tm-color-text-primary);
}
.canceled {
  color: var(--tm-color-text-secondary);
}
.approved {
  color: var(--tm-color-green);
}

.rejected {
  color: var(--tm-color-red);
}
.requested {
  color: var(--tm-color-orange);
}

.btnWrapper {
  display: flex;
  align-items: center;
}
.reject {
  background-color: transparent;
  color: var(--tm-color-red);
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  margin-right: 10px;
}
.pipe {
  width: 30px;
  height: 0px;
  border: 1px solid var(--tm-bg-light-white);
  transform: rotate(90deg);
}
.approve {
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  color: var(--tm-color-green);
  padding: 5px 10px;
  border: 1px solid var(--tm-color-green);
  border-radius: 4px;
}
.pending {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: var(--tm-color-orange);
}
.loader {
  position: sticky;
  bottom: 0;
  width: 1.4rem;
  height: 1.4rem;
  border-left: 0.3em solid var(--tm-color-blue);
  border-width: 0.3em;
}
.tableWrapper {
  margin-bottom: 2rem;
}
.tableWrapper > div {
  z-index: 1;
}
.reasonicon {
  position: relative;
  top: 5px;
  margin: 0 4px 0 4px;
}
.tooltip {
  position: absolute !important;
  top: -10px !important;
  left: 15px !important;
  max-width: 300px;
  width: max-content;
  word-break: break-word;
}
:global(.place-right.show).tooltip:after {
  top: 18px;
}
.img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: 10px;
}
.flex {
  display: flex;
  align-items: center;
}
.cancelOption {
  color: var(--tm-color-red);
}
.kebab {
  position: relative;
  cursor: pointer;
  width: 24px;
  height: 24px;
}

.kebabContent {
  display: none;
}

.kebab:hover .kebabContent {
  position: absolute;
  right: 24px;
  top: -10px;
  word-break: keep-all;
  white-space: nowrap;
  display: block;
  z-index: 1;
  box-shadow: 0px 6px 12px rgba(157, 182, 217, 0.2);
  padding: 10px;
  background: var(--tm-color-white);

  min-width: 160px;

  border: 1px solid var(--tm-color-off-white);
  border-radius: 8px;
}

.kebabItem {
  padding: 12px;

  width: 140px;
  height: 46px;

  font-weight: 500;
  font-size: 16px;
  line-height: 140%;

  color: var(--tm-color-text-primary);
  cursor: pointer;
}
.kebabItem:hover {
  background: var(--tm-color-off-white);
}
.cancel {
  color: var(--tm-color-red);
}
.edit {
  color: var(--tm-color-text-primary);
}
.overflowText {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.tableCellOverflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.empDetailsOverflow {
  max-width: calc(100% - 50px);
}
.wfull {
  width: 100%;
}
.center {
  justify-content: center;
  /* align-items: center; */
}

.retry {
  border-bottom: 1px solid var(--primary-color-100);
  border-radius: 0;
  margin-top: 1rem;
}

.dash {
  width: 8px;
  height: 0px;
  margin: -16px 17px 0px 10px;

  border: 1px solid var(--tm-color-text-primary);
  border-radius: 1px;
}

/* HACKS: to override current behaviour to get fixed header in virtualized table  */
/* ------------------------------------------------------------------------------ */
.tableWrapper > div > div > div {
  position: relative;
}

.tableWrapper > div > div > div > table {
  height: 100%;
}

.tableWrapper > div > div > div > table > thead {
  position: sticky;
  top: 0;
  z-index: 1;
}
.tableWrapper > div > div > div > table > thead > tr {
  height: 40px;
}
/* ------------------------------------------------------------------------------ */
