.border_left_blue {
  border-left: 1px solid var(--tm-sk-bl-2);
  background: var(--tm-color-wh-1);
  border: 1px solid var(--tm-color-light-grayish-blue);
  box-shadow: 0px 0px 24px rgba(157, 182, 217, 0.06);
}

.pending_students {
  display: flex;
  height: 75%;
  flex-direction: column;
}
.pending_students_container {
  padding: 20px;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  margin-top: 1rem;
  margin-right: 1rem;
  border-radius: 8px;
}
.pending_students_steps {
  margin: 1rem;
}
.pending_students_button_container {
  padding-top: 24px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 2px;
  bottom: 0;
  position: absolute;
  right: 0;
  left: 0;
}
.background_gray {
  background-color: var(--tm-bg-textarea-grey);
}
.background_announcement {
  background: var(--tm-color-wh-1);
  border: 1px solid var(--tm-color-light-grayish-blue);
  box-shadow: 0px 10px 18px rgba(157, 182, 217, 0.15);
  border-radius: 8px;
}
.pending_teacher_name {
  color: var(--tm-sk-bl-2);
  font-family: var(--tm-font-family);
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
}
.assign_pending_students_header {
  background: var(--tm-color-light-grayish-blue);
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 8px 0px;
  margin-top: 8px;
}

.titleSection {
  padding: 12px 0px;
}

.titleLabel {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 130%;
  display: flex;
  align-items: center;
  color: var(--tm-color-text-secondary);
  margin-bottom: 12px;
}

.titleInput {
  background: var(--tm-bg-light-blue);
  border: 1px solid var(--tm-color-gy-3);
  box-sizing: border-box;
  border-radius: 8px;
  width: 100%;
  padding: 16px;
  outline: none;
}

.pending_students_slider_container {
  display: flex;
  justify-content: space-between;
}

.pending_students_slider_container_input_div {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-left: 8px;
}
.pending_students_slider_container_input_label {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.pending_students_slider_container_input {
  width: 1rem;
  height: 1rem;
  color: var(--tim-color-blue);
}
.pending_students_slider_container_select_all {
  margin-left: 0;
}

.pending_students_slider_container_classteacher_text {
  width: 50%;
  padding-left: 64px;
  margin-left: 0;
}
.pending_students_slider_container_class_text,
.pending_students_slider_container_student_text {
  width: 25%;
  text-align: center;
}

.pending_students_slider_container_teacher_img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.margin_left_24 {
  margin-left: 24px;
}
.pending_students_slider_container_table_container {
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 8px;
}
.pending_students_slider_container_table {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.pending_students_slider_container_table_teacher_container {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 50%;
}

.pending_students_slider_container_table_teacher_container_div {
  display: flex;
  align-items: center;
}

.pending_students_slider_container_table_teacher_container_label {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.pending_students_slider_container_table_teacher_container_input {
  width: 1rem;
  height: 1rem;
  color: var(--tm-color-blue);
}
.border_radius_8 {
  border-radius: 8px;
}

.pending_students_announcement_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 8px;
  height: 80%;
}
.red_text {
  color: var(--tm-color-dark-red);
}
.text_message {
  display: flex;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.text_message_redirect {
  text-decoration: underline;
  cursor: pointer;
  color: var(--tm-sk-bl-2);
  margin-left: 10px;
}

@media (min-width: 1024px) {
  .pending_students_container {
    padding: 40px;
  }
  .pending_students_slider_container_table_teacher_container_input {
    color: var(--tm-color-blue);
  }

  .pending_students {
    flex-direction: row;
  }

  .banner_container_mweb {
    display: none;
  }

  .banner_container_web {
    align-self: center;
    top: 20px;
    width: 100%;
    padding-bottom: 32px;
  }
}

@media (max-width: 1023px) {
  .banner_container_mweb {
    align-self: center;
    top: 20px;
    padding-left: 15px;
    width: 100%;
    max-width: 480px;
    padding-right: 15px;
    padding-bottom: 16px;
    padding-top: 16px;
  }
  .banner_container_web {
    display: none;
  }
  .pending_students_steps {
    display: none;
  }
}
