.section {
  padding: var(--tm-kr-spacing-xs);
}

.headerSection {
  margin-bottom: 20px;
}

.cardSection {
  display: grid;
  gap: var(--tm-kr-spacing-3xs);
  grid-template-columns: repeat(2, 1fr);
}

.cardSubText {
  display: flex;
}

.cardBgDefault {
  background: var(--tm-kr-color-neutrals-grey-10);
  border: none;
}

.cardBgPaid {
  background: var(--tm-kr-color-pastels-feijoa-50);
  border: none;
}
.cardBgDue {
  background: var(--tm-kr-color-pastels-seaPink-50);
  border: none;
}

.viewBtn.higerSpecificity {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: var(--tm-kr-color-neutrals-grey-70);
  background: transparent;
  background-color: transparent;
  margin-left: 4px;
}

.dFlex {
  display: flex;
}

.alignCenter {
  align-items: center;
}

.mr8px {
  margin-right: 8px;
}

.lastUpdatedOnDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.lastUpdatedOnText {
  font-size: 14px;
  margin-top: 8px;
  color: var(--tm-kr-color-neutrals-grey-70);
}

.statsCard {
  padding: var(--tm-kr-spacing-2xs);
}

@media (min-width: 768px) {
  .section {
    padding: var(--tm-kr-spacing-xs) var(--tm-kr-spacing-s);
  }

  .cardSection {
    gap: var(--tm-kr-spacing-s);
  }

  .statsCard {
    padding: var(--tm-kr-spacing-s);
  }
}
