.leadProfileContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.leadProfileAvatar {
  width: 92px;
  height: 92px;
  border-radius: 23px;
  border: 5.75px solid var(--tm-kr-color-base-light-100);
}

.textTransform {
  margin-left: 8px;
  text-transform: capitalize;
}

.textCapital {
  text-transform: capitalize;
}

.leadProfileAvatar > span {
  font-size: 24px;
}

.leadProfileData {
  display: flex;
}

.cursorPointer {
  cursor: pointer;
}

.leadDetails {
  margin-left: 16px;
}

.leadDataBasicDetails {
  display: flex;
  margin-top: 8px;
}

.leadDataAcademicDetails {
  display: flex;
  margin-top: 12px;
}

.stage {
  display: flex;
}

.badge {
  margin-left: 8px;
  margin-top: -3px;
}

.para {
  margin-top: 16px;
  display: flex;
}

.modals {
  height: 541px;
  width: 540px;
}

.dropdown {
  width: 250px;
  cursor: pointer;
}

.content {
  padding: 0;
}

.modalTable {
  width: 960px;
  height: 600px;
  overflow: hidden;
}

.modalTable > div > div:nth-child(2) {
  display: none;
}

.content > table {
  margin-top: 0px;
}

.cell {
  max-width: 540px;
}

.leadName {
  margin-left: 16px;
  display: flex;
}

.separator {
  width: 4px;
  height: 4px;
  background-color: var(--tm-kr-color-neutrals-grey-50);
  border-radius: 50%;
  margin-top: 8px;
  margin-left: 8px;
}

.session {
  color: var(--tm-kr-color-neutrals-grey-70);
}

.badge {
  margin-top: -3px;
}

.card {
  max-width: 188px;
  height: 86px;
  background: var(--tm-kr-color-neutrals-grey-20);
  border-radius: 12px;
  border-color: var(--tm-kr-color-neutrals-grey-20);
  cursor: pointer;
}

span {
  font-size: 14px;
  font-weight: 500;
}

.text {
  font-size: 12px;
  font-weight: 400;
  color: var(--tm-kr-color-neutrals-grey-70);
  margin-top: 2px;
}

.cardContainer {
  margin-left: auto;
}

.followDate {
  margin-top: 8px;
  margin-left: 5px;
}

.cont {
  margin-top: -30px;
  max-height: 1000px;
}

.headers {
  z-index: 100;
}

.icon {
  margin-left: 112px;
}

.last {
  margin-top: 90px;
  margin-left: 100px;
  margin-left: 550px;
}

.activity {
  margin-top: -100px;
}

.descriptionStyle {
  margin-top: 20px;
}

.mobileVarifiedStatus {
  align-items: center;
  display: flex;
  gap: 2px;
  margin-top: -2px;
}

.flexItem {
  margin-left: 8px;
}

.sessionStyle {
  margin-left: 8px;
  color: var(--tm-kr-color-neutrals-grey-70);
  font-weight: var(--tm-kr-heading-font-weight-semibold);
}

.rightCard {
  display: flex;
}

.classStyle {
  color: var(--tm-kr-color-neutrals-grey-70);
  font-weight: var(--tm-kr-heading-font-weight-semibold);
}
