:root {
  --grid-column-count: 4;
}

.wrapper {
  flex-grow: 1;
  width: calc(100% - var(--preview-width) - 61px);
}

.blockContainer {
  padding: var(--tm-kr-spacing-s);
  background-color: var(--tm-kr-color-neutrals-grey-10);
  border-radius: var(--tm-kr-border-radius-l);
}

.blockHeader {
  display: flex;
  justify-content: space-between;
}

.list {
  position: relative;
  list-style: disc;
  padding: var(--tm-kr-spacing-s) 0 0 var(--tm-kr-spacing-s);
  display: flex;
  flex-wrap: wrap;
  gap: var(--tm-kr-spacing-2xs) var(--tm-kr-spacing-l);
  font-weight: var(--tm-kr-heading-font-weight-medium);
  font-size: var(--tm-kr-para-font-size-l);
  line-height: var(--tm-kr-para-line-height-l);
}

.list > li {
  width: calc(
    (100% - (var(--grid-column-count) - 1) * var(--tm-kr-spacing-l)) /
      var(--grid-column-count)
  );
}

.list > li > div {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.accordianContent {
  display: flex;
  flex-direction: column;
  gap: var(--tm-kr-spacing-s);
}

.flex {
  display: flex;
  gap: var(--tm-kr-spacing-s);
}

.flexColumn {
  flex-direction: column;
}

.blockCard {
  border: none;
}

.blockCard label {
  margin-left: 0;
}

.marginBottom {
  margin-bottom: 20px;
}

.gradesSubtext {
  font-size: var(--tm-kr-para-font-size-m);
  line-height: var(--tm-kr-para-line-height-m);
  font-weight: var(--tm-kr-heading-font-weight-medium);
  color: var(--tm-kr-color-neutrals-grey-70);
  /* margin-left: 2px; */
}

.image {
  width: 56px;
  height: 56px;
  border-radius: var(--tm-kr-border-radius-l);
}

.imageWrapper {
  width: 66px;
  height: 66px;
  border-radius: var(--tm-kr-border-radius-l);
  padding: 5px;
  background-color: var(--tm-kr-color-neutrals-grey-20);
  margin-bottom: 20px;
}

.toggleWrapper {
  width: auto;
  height: auto;
  gap: var(--tm-kr-spacing-2xs);
  align-items: center;
  margin-left: 0;
}

.toggle {
  width: var(--tm-kr-toggle-small-width);
  height: var(--tm-kr-toggle-small-height);
  position: relative;
}

.toggleIcon {
  display: none;
}

.toggleLabel {
  margin-bottom: 0;
}

.checkbox {
  margin-left: 0;
  position: relative;
}

.radioGroupWrapper input[type='radio'] {
  position: relative;
  width: 0;
}

.inputWrapper > input,
.inputWrapper[class^='krayon__TextInput-module'] {
  background-color: var(--tm-kr-color-neutrals-grey-10);
}

.scrollTabs {
  display: flex;
  gap: var(--tm-kr-spacing-2xs);
  overflow: auto;

  position: sticky;
  top: calc(-1 * var(--exam-container-padding));
  z-index: 10;
  background: var(--tm-kr-color-base-light-100);
  padding: var(--tm-kr-spacing-xs) 0;
}

.scrollTabItem {
  border: 0;
  flex-grow: 1;
  background-color: var(--tm-kr-color-neutrals-grey-20);
  white-space: nowrap;
}

.scrollTabItem > div {
  font-weight: 500;
  color: var(--tm-kr-color-neutrals-grey-70) !important;
}

.scrollTabItem:hover > div {
  font-weight: 600;
  color: var(--tm-kr-color-neutrals-grey-10) !important;
}

.scrollTabItem.activeTab {
  background-color: var(--tm-kr-button-primary-color);
}

.scrollTabItem.activeTab > div {
  font-weight: 600;
  color: var(--tm-kr-color-neutrals-grey-10) !important;
}

/* .accordianRoot { */
/*   height: calc(100% - 40px - var(--tm-kr-spacing-l)); */
/*   padding-right: var(--tm-kr-spacing-2xs); */
/* } */

@media (max-width: 1230px) {
  :root {
    --grid-column-count: 3;
  }
}
