.modalContent {
  display: flex;
  padding: 0;
}

.filterTabsWrapper {
  width: 220px;
}

.filterTab {
  padding: var(--tm-kr-spacing-s);
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  border-bottom: 1px solid var(--tm-kr-color-neutrals-grey-30);
}

.filterOptionsWrapper {
  width: 100%;
  overflow-y: scroll;
  border-left: 1px solid var(--tm-kr-color-neutrals-grey-30);
  padding: var(--tm-kr-spacing-s);
}

.filterOptions {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-gap: var(--tm-kr-spacing-s);
}

.filterOptions label {
  margin-left: 0px;
}
