.wrapper {
  background: var(--tm-kr-color-neutrals-grey-20);
  padding: var(--tm-kr-spacing-xs);
  min-height: 200px;
  border-radius: 8px;
  flex-direction: column;
}
.title {
  color: var(--tm-kr-color-neutrals-grey-100);
  font-weight: var(--tm-kr-heading-font-weight-semibold);
  font-size: var(--tm-kr-heading-mobile-font-size-s);
}
.shimmerWrapper {
  max-height: 240px;
  background: var(--tm-kr-color-base-light-100);
}
.errorWrapper {
  position: relative;
  height: 100%;
  width: 100%;
  min-height: 200px;
}

.cardWrapper {
  padding: var(--tm-kr-spacing-s);
  margin-top: var(--tm-kr-spacing-m);
  border-radius: var(--tm-kr-border-radius-l);
  border-width: 0;
}
