.container {
  display: flex;
  align-items: center;
}
.toggleSwitch {
  display: inline-block;
}
.toggleSwitch span {
  position: relative;
  width: 40px;
  height: 22px;
  float: left;
}

.toggleInput {
  display: none;
}
.toggleInput:checked + .slider {
  background-color: #eeeeee;
}
.toggleInput:checked + .slider:before {
  transform: translateX(18px);
  background-color: #36b37e;
}
.toggleInput:focus + .slider {
  box-shadow: 0 0 1px #eeeeee;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  outline: none;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 24px;
  cursor: pointer;
  background-color: #eeeeee;
  border: 1px solid #d2d2d2;
}
.slider:before {
  position: absolute;
  content: '';
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: #ff5e5e;
  transition: 0.4s;
  border-radius: 50%;
}
