.modal {
  width: 540px;
}

.wrapper {
  padding: var(--tm-kr-spacing-s);
}

.tabGroupWrapper {
  width: 300px;
  margin: 0 auto var(--tm-kr-spacing-m) auto;
}

.stopItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: var(--tm-kr-spacing-m);
}

.passengerCountWrapper {
  display: flex;
  align-items: center;
  gap: var(--tm-kr-spacing-3xs);
}
