.wrapper {
  margin-top: var(--tm-kr-spacing-l);
  display: flex;

  overflow: auto;
  padding: 2px;
}
.shimmerWrapper {
  width: 1250px;
  display: flex;
}
@media (max-width: 768px) {
  .wrapper {
    margin-right: -15px;
    padding-right: 15px;
  }
}
