.table {
  border-collapse: collapse;
  width: 100%;
}

.headerCell {
  background-color: #f2f4f8;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 12px;
  color: var(--tm-color-text-secondary);
  padding: 14px 20px;
}

.cell {
  padding: 16px 20px;
  font-size: 12px;
}
