.bodyContent {
  display: flex;
  height: 100%;
}

.formContent {
  width: 542px;
  padding: var(--tm-kr-spacing-s);
  min-height: 600px;
  height: fit-content;
  border-right: 1px solid var(--tm-kr-color-neutrals-grey-30);
}

.accordionWrapper {
  margin-bottom: 12px;
  border: 1px solid var(--tm-kr-color-neutrals-grey-30);
  border-radius: var(--tm-kr-accordion-border-radius);
}

.editableSection {
  display: flex;
}

.editableSection > div:nth-child(odd) {
  flex-grow: 1;
}

.editableSection > div:nth-child(even) {
  display: flex;
  align-items: flex-end;
  cursor: pointer;
  height: fit-content;
  margin-left: var(--tm-kr-spacing-3xs);
  margin-top: 30px;
}

.formGroup {
  margin-top: 18px;
}

.instructions {
  padding: 10px;
}

.instructions:focus {
  padding: 9px;
}

/* Desktop devices */
@media (width > 1194px) {
}
