.mainSection {
  border-radius: 16px;
  padding-bottom: 18px;
}

.mainHeadingSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
}

.common {
  font-family: var(--tm-font-family);
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  display: flex;
  align-items: center;
  flex: none;
  flex-grow: 0;
  margin: 8px 0px;
}
.headingTitle {
  color: var(-tm-kr-color-neutrals-grey-100);
  order: 0;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 0px;
}

.headingSubTitle {
  color: var(--tm-color-text-secondary);
  font-weight: normal;
  font-size: 14px;
}
.optionsContainer {
  padding-top: 30px;
}
.selectionOptionCard {
  background: var(--tm-kr-color-neutrals-grey-20);
  border: 1px solid var(--tm-color-off-white);
  box-sizing: border-box;
  border-radius: 12px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 30px 12px 30px;
  display: flex;
  padding: 18px;
  cursor: pointer;
  align-items: center;
}
.selectionOptionContent {
  width: 100%;
}
.selectionOptionImg {
  width: 42px;
}

.selectionOptionTitle {
  font-family: var(--tm-font-family);
  font-style: normal;
  font-weight: var(--tm-font-weight-medium);
  font-size: 18px;
  line-height: 100%;
  color: var(-tm-kr-color-neutrals-grey-100);
}
.titleDesc {
  font-size: 12px;
  padding-left: 8px;
  font-weight: 500;
  color: var(-tm-kr-color-neutrals-grey-80);
}
.selectionOptionSubTitle {
  font-family: var(--tm-font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: var(--tm-color-text-secondary);
}

.lockIcon {
  width: 12px;
  margin-left: 15px;
}

.modalSection {
  max-width: 100%;
}

.selectionOptionCard div img {
  max-width: none;
}
.announcementModalIcon {
  background-color: var(--tm-kr-color-pastels-calico-100);
}
.smsModalIcon {
  background-color: var(--tm-kr-color-pastels-feijoa-100);
}
.feedbackModalIcon {
  background-color: var(--tm-kr-color-pastels-morningGlory-100);
}
.pollModalIcon {
  background-color: var(--tm-kr-color-pastels-melaine-100);
}
.sectionLabel {
  display: flex;
  gap: 8px;
  font-size: 14px;
  font-weight: 600;
  padding: 0px 0px 8px 30px;
  color: var(--tm-kr-color-neutrals-grey-70);
}
.smsTitleContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}

@media (min-width: 768px) {
  .modalMain.modalSection {
    max-width: 45%;
  }
}
