.card {
  padding: var(--tm-kr-spacing-s);
  background: var(--tm-kr-color-neutrals-grey-20);
  border-radius: var(--tm-kr-border-radius-l);
  display: flex;
  max-width: 100%;
  width: 375px;
  flex-direction: column;
  cursor: pointer;
}
.cardHeader {
  justify-content: space-between;
  margin-bottom: var(--tm-kr-spacing-3xs);
  display: flex;
  align-items: center;
}
.cardBody {
}
