.tabSection {
  max-width: 360px;
  margin: 30px 0 20px;
}
.wrapper {
  margin: 0 var(--tm-kr-spacing-xs);
  padding-bottom: var(--tm-kr-spacing-s);
}
.pageHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px 0 var(--tm-kr-spacing-s);
  padding: 0 var(--tm-kr-spacing-xs) 0 0;
}
.pageSubHeading {
  display: flex;
  align-items: center;
  gap: 8px;
}
.wrapper div {
  cursor: default;
}
@media (max-width: 767px) {
  .tabSection {
    max-width: 100%;
    /* min-width: 290px; */
  }
}
