.footer {
  display: flex;
  align-items: center;
  gap: var(--tm-kr-spacing-s);
  padding: var(--tm-kr-spacing-s) 28px;

  background-color: var(--tm-kr-color-neutrals-grey-10);
  border-top: 1px solid var(--tm-kr-color-neutrals-grey-20);

  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
}

.marginRightAuto {
  margin-right: auto;
}

.btn {
  min-width: 120px;
}

.alertWrapper :global([class^='krayon__Para-module__']) {
  margin: 0 var(--tm-kr-spacing-2xs) 0 var(--tm-kr-spacing-3xs);
  align-self: center;
}

@media screen and (min-width: 1024px) {
  .footer {
    width: calc(100vw - var(--tm-sidebar-collapsed-width));
  }
}

@media screen and (max-width: 580px) {
  .footer {
    width: 100vw;
    padding: var(--tm-kr-spacing-xs);
    gap: var(--tm-kr-spacing-xs);
  }
}
