:root {
  /* Colors */
  --tm-color-light-grayish-blue: #f2f4f8;
  --tm-color-grayish-white: #fbfbfb;
  --tm-color-light-green: #ebf7f2;
  --tm-color-white: #fff;
  --tm-color-light-gray: #a6b4cd;
  --tm-color-semi-dark-gray: #7a7a7a;
  --tm-color-light-gray-2: #a6a6a6;
  --tm-color-light-gray-3: #cccccc;
  --tm-color-light-gray-4: #717c8e;
  --tm-bg-tag-light-gray: #eff9ff;
  --tm-bg-light-gray: #fafbff;
  --tm-bg-modal-light-gray: #f7f9fc;
  --tm-border-color-gray: #dee4ea;
  --tm-color-text-secondary: var(--tm-kr-color-neutrals-grey-70);
  --tm-color-light-cyan: #e9f6f1;
  --tm-color-green: #36b37e;
  --tm-color-green-2: #00da25;
  --tm-color-dark-green: #65b66d;
  --tm-color-green-3: #65b66d;
  --tm-color-light-green: #ebf7f2;
  --tm-color-light-green-2: #f0f8f0;
  --tm-color-mid-orenge: #f0a92d;
  --tm-color-light-orange: #fff2e9;
  --tm-color-orange: #ea8804;
  --tm-color-light-red: #ffefef;
  --tm-color-dark-red: #e73939;
  --tm-color-red: #ff5e5e;
  --tm-color-red-2: #ff6666;
  --tm-color-red-3: #eaa7a7;
  --tm-color-blue: #1da1f2;
  --tm-bg-slider-light-gray: #f8f9fc;
  --tm-color-text-primary: var(--tm-kr-color-neutrals-grey-100);
  --tm-bg-light-blue: #f7f9fc;
  --tm-color-dark-blue: #0072c3;
  --tm-bg-light-white: #dbe2ea;
  --tm-bg-textarea-grey: #f8fafd;
  --tm-border-color-gy-2: #edf1f5;
  --tm-color-off-white: #f2f4f8;
  --tm-color-text-primary-60: #1f3965a9;
  --tm-border-radius-card-1: 8px;
  --tm-border-radius-card-2: 12px;
  --tm-bg-color-gy-3: #f7f9fc;
  --tm-sk-bl-1: #23c7f0;
  --tm-color-bl-3: #232e40;
  --tm-purple-color: #a581cd;
  --tm-orange-2: #f49300;
  --tm-dark-blue-2: #0029ff;
  --tm-dark-brown-1: #9d4e44;
  --tm-dark-pink-1: #9d4474;
  --tm-mainly-blue: #62789e;
  --tm-color-dark-grey-1: #b1b1b1;
  --tm-sk-bl-2: #1da1f1;
  --tm-table-header-background: #f1f4f8;
  --tm-light-wheat: #fff9f4;
  --tm-tag-light-blue-1: #e1f1fc;
  --tm-color-black-1: #344054;
  --tm-color-black-2: #212427;
  --tm-color-cyan-1: #16d6d3;
  --tm-tag-warning-1: #fdf2e0;
  --tm-bg-icon: #e2ecf2;
  --tm-color-orange-light-1: #e47702;
  --tm-color-orange-light-2: #eaa624;
  --tm-border-color-gray-1: #d2d2d2;
  --tm-border-color-gray-2: #e8e8e8;
  --tm-border-color-blue: #94d2df;
  --tm-bg-color-warning-orange: #fdf2e0;
  --tm-bg-gray-1: #d9d9d9;
  --tm-bg-gray-2: #f2f2f2;
  --tm-bg-gray-3: #76787a;
  --tm-bg-gray-4: #afafb1;
  --tm-color-android-gray: #667085;
  --tm-color-blue-frame: #1da1f20d;
  --tm-color-orange-frame: #ea88041a;
  --tm-color-green-frame: #36b37e1a;
  --tm-bg-gray-3: #e6eaef;
  --tm-bg-diabled: #efefef;
  --tm-bg-color-black-font: #1f1f1f;
  --tm-very-dark-blue: #123e6d;
  --tm-bg-gray-3: #f4f4f4;
  --tm-bg-gray-4: #e8e8e8;
  --tm-dark-blue-3: #2f3c51;
  --tm-primary-2: #212427;
  --tm-secondary-text-1: #76787a;
  --tm-color-shadow: #9db6d933;
  --tm-color-light-brown: #e4e0da;
  --tm-color-popup-blue-light: #f8f9fc;
  --tm-color-popup-blue-dark: #192e51;
  --tm-color-popup-bluep-dark: #136294;
  --tm-color-popup-green-light: #eaf7f1;
  --tm-color-popup-green-dark: #2a8f65;
  --tm-color-popup-orange-light: #fbf2e7;
  --tm-color-popup-orange-dark: #ad6708;
  --tm-color-gray-blue-1: #a5b4cc;
  --tm-color-semantic-error-1: #de3333;
  --tm-color-semantic-success-10: #f0f8f0;
  --tm-color-semantic-success-100: #65b66d;
  --tm-color-semantic-information-100: #0072c3;
  --tm-color-semantic-information-10: #e5f6ff;
  --tm-color-semantic-warning-10: #fdf2e0;
  --tm-color-semantic-warning-100: #eaa624;
  --tm-color-semantic-error-10: #ffebeb;
  --tm-color-semantic-error-100: #ff6666;
  --tm-color-semantic-error-110: #de3333;
  --tm-color-aqua-1: #94d2df;
  --tm-color-shimmer-light-gray-1: #eaeaea;
  --tm-color-shimmer-dark-gray-1: #4e5b70;

  /* FEE MODULE */
  /* Fee Statistics */
  --tm-fee-statistics-color-paid: var(--tm-color-green);
  --tm-fee-statistics-color-due: var(--tm-color-red);
  --tm-fee-statistics-color-applied: var(--tm-color-blue);
  --tm-fee-statistics-color-discount: #000000;
  --tm-fee-statistics-color-pending: var(--tm-color-orange);
  --tm-fee-statistics-color-other: #000000;
  /* Font family */
  --tm-font-family: 'Inter';

  /* Font weights */
  --tm-font-weight-regular: 400;
  --tm-font-weight-medium: 500;
  --tm-font-weight-semi-bold: 600;
  --tm-font-weight-bold: 700;

  /* Header height */
  --tm-header-height: 64px;
}
