.tabGroupWrapper {
  width: 350px;
}

.rowWrapper {
  padding: var(--tm-kr-spacing-xs);
  cursor: pointer;
}

.rowEnd {
  display: flex;
  gap: var(--tm-kr-spacing-m);
}

.searchBar {
  margin: var(--tm-kr-spacing-xs) 0 var(--tm-kr-spacing-2xs) 0;
}

.directoryWrapper {
  border: var(--tm-kr-border-width-s) solid var(--tm-kr-color-neutrals-grey-30);
  border-radius: var(--tm-kr-border-radius-l);
  background-color: var(--tm-kr-color-base-light-100);
}

.directoryHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--tm-kr-spacing-2xs) var(--tm-kr-spacing-xs);
  background-color: var(--tm-kr-color-neutrals-grey-20);
  border-top-left-radius: var(--tm-kr-border-radius-l);
  border-top-right-radius: var(--tm-kr-border-radius-l);
}
.selectAllCheckboxWrapper {
  margin: 0px;
}
.selectedWrapper {
  display: flex;
}
.selectedCount {
  color: var(--tm-kr-color-neutrals-grey-100);
}

.checkboxWrapper {
  padding: var(--tm-kr-spacing-xs);
  margin: 0px;
}
.userInfo {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.basicInfoWrapper {
  display: flex;
}
.basicInfo {
  margin-left: var(--tm-kr-spacing-2xs);
}

.tableWrapper {
  height: 300px;
}
.table {
  margin: 0px;
}
.table > tbody > tr {
  border: unset;
}
.td {
  padding: 0px;
}
