.wrapper {
  padding-top: var(--tm-kr-spacing-s);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.searchBar {
  width: 400px;
}

.listWrapper {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: var(--tm-kr-spacing-s);
  margin-top: var(--tm-kr-spacing-s);
}

.emptyStateWrapper {
  margin-top: var(--tm-kr-spacing-5xl);
}
.emptyStateIconFrame {
  width: 64px;
  height: 64px;
}

.buttonWrapper {
  margin-top: 12px;
  margin-right: auto;
  margin-left: auto;
}
