.table {
  margin-bottom: 30px;
}
.modalMain.feeDownloadReportModal {
  height: 600px;
  width: 960px;
}

.modalHeadingSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.contentSection {
  padding: 0px 19px 19px 19px;
}

.contentSectionBorder {
  border: 1px solid var(--tm-kr-color-neutrals-grey-30);
  height: 100%;
  display: flex;
  border-radius: 12px;
}

.height61vh {
  height: 61vh;
  overflow-y: auto;
  padding: 0px 1px 1px 1px;
}

.lastChildBorderNone div:last-child {
  border: none;
}

.flex1 {
  flex: 1;
}

.iconAndHeadingSection {
  display: flex;
  align-items: center;
  gap: 8px;
}

.capitalized {
  text-transform: capitalize;
}

.curserPointer {
  cursor: pointer;
}

.downloadDiv {
  width: 50%;
  text-align: center;
}

.alertModalSection {
  z-index: 101;
  position: fixed;
}
.actionBtn {
  margin-left: 15px;
}

@media only screen and (min-width: 720px) {
  .modalMain.feeDownloadReportModal {
    width: 960px;
    min-height: 10%;
  }
}
